@{
    ViewBag.Title = "About - Bean and Brew Ltd";
}


<div class="content">
    <div class="staff">
        <h3>Our Staff</h3><br />
        <center>
            <table class="table table-striped col-12">
                <tr>
                    <td>Owners:</td>
                    <td>Sol Folata and Laura Hisoru</td>
                </tr>
                <tr>
                    <td>General Manager:</td>
                    <td>Rachel Akhtar</td>
                </tr>
                <tr>
                    <td>Harrogate Store Manager:</td>
                    <td>Katherine Manzaneque</td>
                </tr>
                <tr>
                    <td>Leeds Store Manager:</td>
                    <td>Cristina Neal</td>
                </tr>
                <tr>
                    <td>Knaresborough Store Manager:</td>
                    <td>Amina Parkes</td>
                </tr>
                <tr>
                    <td>Marketing Manager:</td>
                    <td>John Rossa</td>
                </tr>
                <tr>
                    <td>Marketing Assistant:</td>
                    <td>Gabriel Vlad</td>
                </tr>
                <tr>
                    <td>Head of Legal:</td>
                    <td>Vinay Rutty</td>
                </tr>
                <tr>
                    <td>Head of HR:</td>
                    <td>Magda Rodriguez</td>
                </tr>
            </table>
        </center>
    </div>
</div>
<br />
<address>
    Head Office:<br />
    41 Great George St,<br />
    Leeds, LS1 3BB<br />
    <abbr title="Phone">P:</abbr>
    0113 243 6998
</address>

<address>
    <strong>Support: </strong><a href="mailto:Support@BeanandBrew.co.uk">Support@BeanandBrew.co.uk</a><br />
    <strong>Marketing: </strong> <a href="mailto:Marketing@BeanandBrew.co.uk">Marketing@BeanandBrew.co.uk</a>
</address>
