@{
    ViewBag.Title = "Home";
}
<div class="content-grid">
    <div class="jumbotron shoptext">
        <h2>The Company</h2>
        <p>
            Bean and Brew were one of the first companies in the UK to use fair-trade coffee and all organic milk
            for our products. Each drink is made exactly to your specifications, for a personal service.We also offer
            our trademarked flavoured coffees, breakfast items such as porridge, small seet treats, and
            pressed sandwiches.
        </p>
        <p>
            Recently we've also added frappes and fruit smoothies in addition to seasonal treats such as
            pumpkin spiced latte &#40;for Halloween&#41; and variuos assorted baked goods.
        </p>
        <p>
            Bean and Brew is a small independant chain of cafes and coffee shops based around Harrogate and
            Leeds in the North of England. We have 3 small local cuisine restaurants located in Harrogate, Leeds
            and Knaresborough Castle.
        </p>
        <p>
            We also offer an order and collection coffee service with online baking lessons and our table booking
            service for one of our 3 restaurants.  Follow the links above to see what's available.
        </p><br />
        <center><h4>See you soon!</h4></center>
    </div>
    <div class="shopcounter">
        <img class="img-rounded" src="~/Content/Images/shop-counter.jpg" alt="shop counter" />

    </div>
</div>